<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Test" preserve-order="true">
        <classes>
            <class name="com.alphasystem.docbook.builder.test.Setup"/>
            <class name="com.alphasystem.docbook.builder.test.TitleTest"/>
            <class name="com.alphasystem.docbook.builder.test.InlineTest"/>
            <class name="com.alphasystem.docbook.builder.test.MultipleRolesTest"/>
            <class name="com.alphasystem.docbook.builder.test.LineBreakTest"/>
            <class name="com.alphasystem.docbook.builder.test.SectionLevelTest"/>
            <class name="com.alphasystem.docbook.builder.test.OrderedListTest"/>
            <class name="com.alphasystem.docbook.builder.test.ItemizedListTest"/>
            <class name="com.alphasystem.docbook.builder.test.AdmonitionTest"/>
            <class name="com.alphasystem.docbook.builder.test.ListTest"/>
            <class name="com.alphasystem.docbook.builder.test.TableTest"/>
            <class name="com.alphasystem.docbook.builder.test.TearDown"/>
            <class name="com.alphasystem.docbook.builder.test.ColumnSpecAdapterTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
